:root {
    --bg-color: hsl(218, 43%, 89%);
    --card-color: hsl(0, 0%, 100%);

    --text-color: hsl(220, 15%, 55%);
    --text-color-title: hsl(218, 44%, 22%);

    --text-weight-regular: 400;
    --text-weight-bold: 700;

    --text-size-regular: 0.92rem;
    --text-size-title: 1.3rem;

    --font-family: 'Outfit', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font: inherit;
    
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: var(--text-color-title);
    font-weight: var(--text-weight-bold);
    font-size: var(--text-size-title);
    text-align: center;
    padding: 20px 15px;
}

p {
    color: var(--text-color);
    font-weight: var(--text-weight-regular);
    font-size: var(--text-size-regular);
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: auto;
    width: 300px;
    background-color: var(--card-color);
    border-radius: 15px;
    align-items: center;
}

.card img {
    width: 100%;
    border-radius: 10px;
}

